@model KAndJCore.Models.Client

@{
    ViewData["Title"] = "Edit";
}
@section Styles
{
    <link rel="stylesheet" href="~/css/client-edit.css" />
}

<h1>Edit</h1>

<h4>Client</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MiddleName" class="control-label"></label>
                <input asp-for="MiddleName" class="form-control" />
                <span asp-validation-for="MiddleName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DOB" class="control-label"></label>
                <input asp-for="DOB" class="form-control" type="date" />
                <span asp-validation-for="DOB" class="text-danger"></span>
            </div>
            <div class="form-group hidden" id="div-fg-ssn">
                <label asp-for="SSN" class="control-label"></label>
                <span>
                    <input asp-for="SSN" class="form-control" style="" />
                    <i class="fa fa-close" id="btn-show-red" title="Show Redacted Number"></i>
                </span>
                <span asp-validation-for="SSN" class="text-danger"></span>
            </div>
            <div class="form-group" id="div-fg-redssn">
                <label asp-for="SSN" class="control-label"></label>
                <span>
                    <label>@Model.RedactedSSN</label>
                    <i class="fa fa-edit" id="btn-show-ssn" title="Edit"></i>
                </span>
                <span asp-validation-for="SSN" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CurrentStatus" class="control-label"></label>
                <select asp-for="CurrentStatus" class="form-control">
                    <option value="0">Active</option>
                    <option value="1">On Hold</option>
                    <option value="2">Closed</option>
                    <option value="3">Credit Repaired</option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="Created" class="control-label"></label>
                <input asp-for="Created" class="form-control" type="date" />
                <span asp-validation-for="Created" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ClientSince" class="control-label"></label>
                <input asp-for="ClientSince" class="form-control" type="date" />
                <span asp-validation-for="ClientSince" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address" class="control-label"></label>
                <input asp-for="Address" class="form-control" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AddressLine2" class="control-label"></label>
                <input asp-for="AddressLine2" class="form-control" />
                <span asp-validation-for="AddressLine2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PreviousAddress" class="control-label"></label>
                <input asp-for="PreviousAddress" class="form-control" />
                <span asp-validation-for="PreviousAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CellPhone" class="control-label"></label>
                <input asp-for="CellPhone" class="form-control" />
                <span asp-validation-for="CellPhone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HomePhone" class="control-label"></label>
                <input asp-for="HomePhone" class="form-control" />
                <span asp-validation-for="HomePhone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WorkPhone" class="control-label"></label>
                <input asp-for="WorkPhone" class="form-control" />
                <span asp-validation-for="WorkPhone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OtherPhone" class="control-label"></label>
                <input asp-for="OtherPhone" class="form-control" />
                <span asp-validation-for="OtherPhone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Fax" class="control-label"></label>
                <input asp-for="Fax" class="form-control" />
                <span asp-validation-for="Fax" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WorkEmail" class="control-label"></label>
                <input asp-for="WorkEmail" class="form-control" />
                <span asp-validation-for="WorkEmail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="@Url.Content("~/js/client-edit.js")"></script>
}
